.presentation {
    background-color: #85C630;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 10px 10px 8px #417324;
    color: white;
    font-family: "coolvetica_rg";
    font-size: 25px;
    margin: auto;
    padding: 1px;
    text-align: center;
    width: 838px;
}
input[type="submit"] {
    background-color: #50B326;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 2px #417324;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'coolvetica_rg';
    font-size: 19px;
    left: 16%;
    padding: 2px 0;
    position: absolute;
    text-decoration: none;
    width: 199px;
}
#pardessus {
    margin: auto;
    position: relative;
    top: -93px;
    width: 838px;
    z-index: 1;
}
dl {
    background-color: #85C630;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 10px 10px 8px #417324;
    color: white;
    display: inline-block;
    font-size: 30px;
    height: 37px;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 88px;
    z-index: -17;
}
dt {
    background-color: #85C630;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 10px 10px 8px #417324;
    color: white;
    cursor: pointer;
    display: inline-block;
    line-height: 18px;
    text-align: center;
    width: 838px;
}
dd {
    background-color: #85C630;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
}
dd ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;
}
dd ul li {
    background-color: red;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}
dd ul li a {
    background-color: red;
    border-bottom: 1px dotted white;
    border-top: 1px dotted white;
    color: white;
    display: block;
    height: 83px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    width: 265px;
}
dd ul li a:hover {
    background-color: red;
    color: red;
    text-align: center;
}
dl dd {
    display: none;
    text-align: center;
}
dl:hover dd {
    cursor: pointer;
    display: block;
    text-align: center;
}
dl:hover {
    cursor: pointer;
}
.text {
    margin: auto;
}
.lol {
    color: white;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: -5px;
    width: 435px;
    left: 203px;
}
.lol:hover {
    color: #FFFD55;
}
textarea {
    resize: none;
}