.presentation {
background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e0e0e0));
   background: -webkit-linear-gradient(top, #f9f9f9, #e0e0e0);
   background: -moz-linear-gradient(top, #f9f9f9, #e0e0e0);
   background: -ms-linear-gradient(top, #f9f9f9, #e0e0e0);
   background: -o-linear-gradient(top, #f9f9f9, #e0e0e0);
     border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow: 1px 1px 3px #111111;
  margin:auto;
  padding:6px 5px;
  vertical-align:top;
  width: 768px;
}
input[type="submit"] {
       -webkit-box-shadow:#000000 0 1px 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#d9d9d9));
   background: -webkit-linear-gradient(top, #f7f7f7, #d9d9d9);
   background: -moz-linear-gradient(top, #f7f7f7, #d9d9d9);
   background: -ms-linear-gradient(top, #f7f7f7, #d9d9d9);
   background: -o-linear-gradient(top, #f7f7f7, #d9d9d9);
 font-weight: bold;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#333333 2px 2px 2px;
  color: #333333;
  font-family: Arial;
  font-size: 16px;
  padding:4px 8px;
  text-decoration:none;
  vertical-align:middle;
  text-align: right;
}
#pardessus {
    margin: auto;
    position: relative;
    top: -93px;
    width: 838px;
    z-index: 1;
}

.text {
    margin: auto;
}
.lol {
   text-align: center; font-size: 24px;
}
.lol:hover {
    text-shadow: 3px 3px 19px #0092bf;
}
textarea {
    resize: none;
}