.presentation
{
	background-color: #85C630;
    color: white;
    font-family: "coolvetica_rg";
    font-size: 25px;
    height: 193px;
    margin: auto;
    width: 838px;
    padding: 1px;
    text-align: center;
	box-shadow: 10px 10px 8px #417324;
	border-radius: 5px 5px 5px 5px;
}
input[type="submit"]{
     background-color: #50B326;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 2px #417324;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'coolvetica_rg';
    font-size: 19px;
    left: 76%;
    padding: 2px 0;
    position: absolute;
    text-decoration: none;
    width: 199px;
}
input[type="submit"]:hover
{
    color: #FFFD55;
    text-decoration: none;
	margin: auto;
}
#pardessus {
    background-color: #85C630;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 10px 10px 8px #417324;
    height: 35px;
    position: relative;
    top: 14px;
    width: 838px;
	margin:auto;
	z-index:1;
}
#menu {
    -moz-transition: all 1s ease 0s;
    background-color: #85C630;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 10px 10px 8px #417324;
    color: white;
    font-family: "coolvetica_rg";
    font-size: 30px;
    height: 40px;
    margin: auto;
    padding: 2px;
    text-align: center;
    width: 838px;
}
dl {
    -moz-transition: all 1s ease 0s;
    display: inline-block;
    float: left;
    height: 77px;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: -17;
}
dt {
    -moz-transition: all 1s ease 0s;
    background-color: #85C630;
    color: white;
    cursor: pointer;
    display: inline-block;
    line-height: 18px;
    text-align: center;
    width: 838px;
	border-radius: 5px 5px 5px 5px;
    box-shadow: 10px 10px 8px #417324;
}
dd {
    -moz-transition: all 1s ease 0s;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #85C630;
}
dd ul {
    -moz-transition: all 1s ease 0s;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;
}
dd ul li {
    -moz-transition: all 1s ease 0s;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}
dd ul li a {
    border-bottom: 1px dotted white;
    border-top: 1px dotted white;
    color: white;
    display: block;
    height: 83px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    width: 265px;
}
dd ul li a:hover {
    -moz-transition: all 1s ease 0s;
    color: red;
    text-align: center;
}
dl dd {
    display: none;
    text-align: center;
}
dl:hover dd {
    -moz-transition: all 1s ease 0s;
    display: block;
    text-align: center;
}
.lol:hover{
color:#FFFD55;
}
textarea{
resize:none;}