select{
	border: 0px;
	font-size: 22px;
	font-family: 'coolvetica_rg';
	border: 1px solid #003e40;
   background: #1f6e86;
   background: -webkit-gradient(linear, left top, left bottom, from(#1a9dc5), to(#1f6e86));
   background: -webkit-linear-gradient(top, #1a9dc5, #1f6e86);
   background: -moz-linear-gradient(top, #1a9dc5, #1f6e86);
   background: -ms-linear-gradient(top, #1a9dc5, #1f6e86);
   background: -o-linear-gradient(top, #1a9dc5, #1f6e86);
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: 2px 2px 5px black;
	cursor:pointer;
	padding:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
}
select:active,
select:focus{
	border: 5px solid #58b54c;
	outline:none;
}

input[type=file]
{
	font-family: 'coolvetica_rg';
	font-size: 18px;
	width: 500px;
}

input[type=submit],
a.submit{
	background-color:#375D81;
	border:0px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	color:#fff;
	cursor:pointer;
	font-family: 'coolvetica_rg';
	font-size: 42px;
	padding: 2px 0px;
	text-decoration:none;
	margin-left: 60%;
}
input[type=submit]:hover,
a.submit:hover{
	text-decoration:none;
	color:#fffd55;
}
input[type=submit]:active,
input[type=submit]:focus,
a.submit:active,
a.submit:focus{
	
	border-color:#093c75;
	outline:none;
}