select{
	border: 0px;
	font-size: 22px;
	font-family: 'coolvetica_rg';
	background-color: #a5d85f;
	cursor:pointer;
	padding:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
}
select:active,
select:focus{
	border: 5px solid #58b54c;
	outline:none;
}

input[type=file]
{
	font-family: 'coolvetica_rg';
	font-size: 18px;
	width: 500px;
}

input[type=submit],
a.submit{
	background-color:#375D81;
	border:0px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	color:#fff;
	cursor:pointer;
	font-family: 'coolvetica_rg';
	font-size: 42px;
	padding: 2px 0px;
	text-decoration:none;
	margin-left: 60%;
}
input[type=submit]:hover,
a.submit:hover{
	text-decoration:none;
	color:#fffd55;
}
input[type=submit]:active,
input[type=submit]:focus,
a.submit:active,
a.submit:focus{
	background:green;
	border-color:#093c75;
	outline:none;
}