@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: "coolvetica_rg";
    src: url("fonts/coolvetica_rg.ttf") format("truetype");
}

*{
	border:none;
}

body{
	background:#7cc5da;
	margin:0;
	padding:0;
}

#wrapper{
	width:960px;
	margin:0 auto;
	height:800px;
	background:#3b902f;
}

	#header{
		height:500px;
		width:960px;
		background:url('img/sky-bg.jpg') no-repeat top left;
		position:relative;
		overflow:hidden;
	}
	
		#header .foreground{
			position:absolute;
			top:350px;
			z-index:100;
		}
		
		#sliders{
			overflow:hidden;
		}
		
		#sliders>*{
			display:none;
		}
		
		#titlebar{
			position:relative;
			z-index:0;
			top:100px;
			text-align:center;
		}
		
			#titlebar h1{
				font-family:  arial,sans-serif;
				color: white;
				width: 400px;
				font-size:70px;
				margin: auto;
		   border: 1px solid #003e40;
	   background: #62a708;
	   background: -webkit-gradient(linear, left top, left bottom, from(#58b54c), to(#62a708));
	   background: -webkit-linear-gradient(top, #58b54c, #62a708);
	   background: -moz-linear-gradient(top, #58b54c, #62a708);
	   background: -ms-linear-gradient(top, #58b54c, #62a708);
	   background: -o-linear-gradient(top, #58b54c, #62a708);
	   padding: 2px 4px;
	   -webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	   border-radius: 6px;
	   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   box-shadow: rgba(0,0,0,1) 0 1px 0;
	   text-shadow: rgba(0,0,0,.4) 0 1px 0;
			}
		
		.village{
			position:absolute;
			top:366px;
			left:30px;
			z-index:90;
			height:500px;
			width:470px;
			background:url('img/village-background.png') no-repeat top center;
		}
		
			.village-padding{
				padding:120px 25px 20px 25px;
			}
			
			.village-padding p{
				color:#F7F7F7;
				font-family:"Lucida Grande",arial, sans-serif;
				font-size: 17px;
				line-height:1.6em;
			}
			
			.village-padding h2{
				color:#FFF;
				font-family:arial, sans-serif;
				font-size:26px;
				margin:0;
				padding:0;
				letter-spacing:-2px;
			}
			
		.cloudbar{
			position:absolute;
			top:-465px;
			left:600px;
			z-index:90;
			height:325px;
			width:252px;
			background:url('img/cloud-bar.png') no-repeat bottom center;
		}
			
			.cloud-padding{
				padding:20px;
				text-align:center;
			}
			
			.cloud-padding p{
				color:#F7F7F7;
				font-family:"Lucida Grande",arial, sans-serif;
				font-size:13px;
				line-height:1.6em;
			}
			
			.cloud-padding h2{
				margin:0px 0px 25px 0px;
				padding:0;
				color:#37626F;
				font-family:arial, sans-serif;
				font-size:26px;
				letter-spacing:-2px;
			}

		#content{
			text-align:center;
			padding:10px;
		}
		
			#content h2{
				
				font-family:arial, sans-serif;
				font-size:26px;
				letter-spacing:-1px;
			}
			
			#content p{
				color:#FFF;
				font-family:"Lucida Grande",arial, sans-serif;
				font-size:13px;
			}

			#content a{
				
				text-decoration:none;
			}
	
	
	.entrer a {
   border: 1px solid #003e40;
   background: #62a708;
   background: -webkit-gradient(linear, left top, left bottom, from(#58b54c), to(#62a708));
   background: -webkit-linear-gradient(top, #58b54c, #62a708);
   background: -moz-linear-gradient(top, #58b54c, #62a708);
   background: -ms-linear-gradient(top, #58b54c, #62a708);
   background: -o-linear-gradient(top, #58b54c, #62a708);
   padding: 2px 4px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 36px;
   font-family: 'coolvetica_rg';
   text-decoration: none;
   vertical-align: middle;
   box-shadow: 2px 2px 2px #003e40;
   }
.entrer a:hover {
   border-top-color: #00ad23;
   background: #00ad23;
   color: #f5ff63;
   }
.entrer a:active {
   border-top-color: #1b435e;
   background: #58b54c;
   }