
/* Par Michel GILLE le 12/04/12 */

.deco
{
	background-color:  #85c630;
	float: right;
	width: 100px;
	margin-right: 10px;
	height: 10px;
}
.profile_ban
{
	margin: auto;
	border-color:#85c630;
	border-width: 12px;
	border-style:solid;
	height: 200px;
	width: 900px;
	box-shadow: 5px 5px 3px #417324; 
}
.profile_ban img
{
	height: 200px;
	width: 900px;
}
.profile_button_left
{
	background-color: #85c630;
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 24px;
	margin-top: -14px;
	box-shadow: 5px 5px 3px #417324; 
}
.profile_button_right
{
	background-color: #85c630;
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 24px;
	margin-top: -14px;
	box-shadow: 5px 5px 3px #417324; 
}
.profile_name
{
	margin: auto;
	background-color: #85c630;
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 28px;
	margin-top: -10px;
	box-shadow: 5px 5px 3px #417324; 
}
	

.block_title_about
{
	background-color: #85c630;
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 24px;
	width: 200px;
	box-shadow: 5px 5px 3px #417324; 
}
.about_block
{
	float: left;
	width: 200px;
	height: 400px;
	vertical-align: top; 
}
.about_block img
{
	border-color:#85c630;
	border-width: 8px;
	border-style:solid;
	height: 100px;
	box-shadow: 5px 5px 3px #417324; 
}

.profile_block
{
	float: right;
	width: 200px;
	height: 400px;
	vertical-align: top; 
}



.article
{
	border-radius: 5px 5px 5px 5px;
	width: 100%;
	margin: auto;
}

.article_content
{
	border-color:#85c630;
	border-width:10;
	border-style:solid;
	background-color: white;
	font-size: 16px;
	box-shadow: 5px 5px 3px #417324;
	vertical-align: top;
}
.article_content img
{
	display: block;
	margin: auto;
	height: 200px;
	border-color:#85c630;
	border-width: 8px;
	border-style:solid;
	box-shadow: 3px 3px 2px #417324; 
	
}
.article_content iframe
{
	display: block;
	margin: auto;
	border-color:#85c630;
	border-width: 8px;
	border-style:solid;
	box-shadow: 3px 3px 2px #417324; 
	
}

.create_article
{
	width: 50%;
	margin: auto;
	background-color: #85c630;
	box-shadow: 5px 5px 3px #417324;
}

.title_create_article
{
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 26px;
	vertical-align: top; 
}

.title_create_article input[type=text]
{
	background-color: #a5d85f;
	border:0px;
	font-family: 'coolvetica_rg';
	font-size: 22px;
	vertical-align: top; 
}

.title_create_article input[type=text]:focus
{
	border-color:#093c75;
	-moz-box-shadow:0 0 3px #85c630;
	-webkit-box-shadow:0 0 3px #85c630;
	outline:none; /* Pour enlever le contour jaune lorsque l'on sélectionne un input dans Chrome */
}
select{
	border: 0px;
	font-size: 22px;
	font-family: 'coolvetica_rg';
	background-color: #a5d85f;
	cursor:pointer;
	padding:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
}
select:active,
select:focus{
	border: 5px solid #85c630;
	outline:none;
}

input[type=file]
{
	font-family: 'coolvetica_rg';
	font-size: 18px;
	width: 500px;
}

input[type=submit],
a.submit{
	background-color:#375D81;
	border:0px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	color:#fff;
	cursor:pointer;
	font-family: 'coolvetica_rg';
	font-size: 19px;
	padding: 2px 0px;
	text-decoration:none;
	margin-left: 60%;
}
input[type=submit]:hover,
a.submit:hover{
	text-decoration:none;
	color:#fffd55;
}
input[type=submit]:active,
input[type=submit]:focus,
a.submit:active,
a.submit:focus{
	background:green;
	border-color:#093c75;
	outline:none;
}

.create_article_errors
{
	font-family: "coolvetica_rg";
	font-size: 22px;
	position: fixed;
	color:#fffd55;
	right: 0px;
	bottom: 75px;
	width: 300px;
	background-color: #375D81;
	box-shadow: 5px 5px 3px #417324;
}
.depulse {
	float: right;
	margin-top: -20px;
}
.propulse {
	float: right;
	margin-top: -20px;
	margin-right: 20px;
}
.debate 
{
	float : right; 
}
.comments
{
	font-size: 14px;
	border-color:#85c630;
}
ul ul {display: none;
poistion :absolute;}
li:hover ul.niveau2, li li:hover ul.niveau3 {display:block;
position:absolute;}
