html {
  overflow-y:scroll;
}
body {
  background-color:#5F8CA3;
  font-family:Calibri;
}
a {
  text-decoration:none;
}
#note {
  -webkit-box-shadow:black 0 0 5px;
  background-color:#FDE073;
  box-shadow:black 0 0 5px;
  left:0;
  line-height:2.5;
  overflow:hidden;
  position:absolute;
  right:0;
  text-align:center;
  top:0;
  z-index:6001;
}
.cssanimations.csstransforms #note {
  -webkit-animation:slideDown 2.5s ease 1s 1 forwards;
  -webkit-transform:translateY(-50px);
}
#close {
  background-image:url(http://localhost/pulseNEWS/Developpement/design/design/img/close.png);
  cursor:pointer;
  height:16px;
  position:absolute;
  right:10px;
  text-indent:-9999px;
  top:9px;
  width:16px;
}
.cssanimations.csstransforms #close {
  display:none;
}
.header {
  background-color:#046380;
  box-shadow:#003E40 10px 10px 8px;
  left:0;
  position:fixed;
  top:0;
  width:100%;
  z-index:1;
}
.header_info {
  color:white;
  font-size:12px;
  height:75px;
  text-align:right;
  width:1024px;
}
.header_menu {
  font-family:coolvetica_rg;
  font-size:22px;
  height:25px;
  width:100%;
}
.header_menu a {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #1A7895, #1CABD7);
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#003E40 2px 2px 2px;
  color:white;
  font-family:coolvetica_rg;
  font-size:20px;
  padding:4px 8px;
  text-decoration:none;
  text-shadow:black 2px 2px 3px;
  vertical-align:middle;
}
.header_menu a:hover {
  border-top-color:#00AD23;
  color:#F5FF63;
}
.header_menu a:active {
  background-color:#1A9DC5;
  border-top-color:#1B435E;
}
.news_sort {
  background-color:red;
  box-shadow:#003E40 10px 10px 8px;
  color:white;
  font-family:coolvetica_rg;
  font-size:18px;
  height:30px;
  position:fixed;
  right:0;
  text-align:center;
  top:75px;
  width:692px;
}
.post_news {
  -webkit-box-shadow:#000000 0 1px 0;
  background-color:powderBlue;
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#003E40 3px 3px 2px;
  margin:auto;
  padding:4px 8px;
  width:90%;
}
.title_post {
  -webkit-box-shadow:#000000 0 1px 0;
  background-color:#183152;
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#003E40 2px 2px 2px;
  color:white;
  font-family:coolvetica_rg;
  font-size:25px;
  font-weight:bold;
  text-decoration:none;
  text-shadow:black 0 0 0;
  vertical-align:middle;
  width:104%;
}
.rate {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #1A9DC5, #1F6E86);
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#003E40 2px 2px 2px;
  color:white;
  font-family:coolvetica_rg;
  font-size:22px;
  height:100%;
  text-decoration:none;
  text-shadow:black 2px 2px 5px;
  vertical-align:middle;
  width:30px;
}
.description {
  background-color:white;
  box-shadow:#003E40 5px 5px 3px;
  font-size:14px;
  margin-top:-5px;
}
.description_notif {
  background-color:red;
  box-shadow:#003E40 5px 5px 3px;
  font-size:14px;
  margin-top:-5px;
}
.description_news {
  font-family:coolvetica_rg;
  font-size:18px;
  margin-top:-5px;
}
.date_news {
  background-color:#1A9DC5;
  box-shadow:#003E40 5px 5px 3px;
  color:white;
  font-size:10px;
  height:100%;
}
.date_notif {
  background-color:#1A9DC5;
  box-shadow:#003E40 5px 5px 3px;
  color:white;
  font-size:100%;
  height:100%;
}
.rss_block {
  -webkit-box-shadow:#000000 0 1px 0;
  background-color:#183152;
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#003E40 2px 2px 2px;
  float:right;
  margin:auto;
  padding:6px 5px;
  text-shadow:black 2px 2px 5px;
  vertical-align:top;
  width:100%;
}
.block_title {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #1A9DC5, #1F6E86);
  border:2px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#000000 0 1px 0;
  color:white;
  font-family:coolvetica_rg;
  font-size:24px;
  text-decoration:none;
  text-shadow:black 2px 2px 5px;
  vertical-align:top;
  width:120px;
}
.block_content {
  -webkit-box-shadow:#000000 0 1px 0;
  background-color:white;
  border:2px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#000000 0 1px 0;
  font-size:18px;
  text-shadow:black 0 0 0;
  vertical-align:top;
}
.pulse_button {
  background-color:#5BB64F;
  color:white;
  float:right;
  font-family:coolvetica_rg;
  font-size:14px;
  margin-left:20px;
  margin-top:-10px;
  width:35px;
}
.block_title_right {
  -webkit-box-shadow:#000000 0 1px 0;
  background-color:#5BB64F;
  background-image:-webkit-linear-gradient(top, #5BB64F, #34782A);
  border:2px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#003E40 2px 2px 2px;
  color:white;
  font-family:coolvetica_rg;
  font-size:24px;
  text-align:right;
  text-decoration:none;
  text-shadow:black 2px 2px 5px;
  vertical-align:top;
}
.block_content_right {
  -webkit-box-shadow:#000000 0 1px 0;
  background-color:white;
  border:2px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#000000 0 1px 0;
  font-size:18px;
  text-shadow:black 0 0 0;
  vertical-align:top;
}
.pulse_button {
  background-color:blue;
  color:white;
  float:right;
  font-family:coolvetica_rg;
  font-size:14px;
  margin-left:20px;
  margin-top:-10px;
  width:35px;
}
.pulse_button_right {
  background-color:blue;
  border:2px solid #003E40;
  color:white;
  float:right;
  font-family:coolvetica_rg;
  font-size:14px;
  width:35px;
}
.rate_button {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #1A9DC5, #1F6E86);
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#003E40 2px 2px 2px;
  color:white;
  float:right;
  font-family:coolvetica_rg;
  font-size:20px;
  text-align:center;
  text-decoration:none;
  text-shadow:black 2px 2px 5px;
  vertical-align:middle;
  width:100px;
}
.rate_button:hover {
  color:#FFFD55;
  margin-top:-2px;
}
.comment_button {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #1A9DC5, #1F6E86);
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#003E40 2px 2px 2px;
  color:white;
  float:right;
  font-family:coolvetica_rg;
  font-size:20px;
  margin-top:-5px;
  text-align:center;
  text-decoration:none;
  text-shadow:black 2px 2px 5px;
  vertical-align:middle;
  width:100px;
}
.comment_button:hover {
  color:#FFFD55;
  margin-top:-6px;
}
.deco {
  background-color:#1A9DC5;
  float:right;
  height:10px;
  margin-right:10px;
  width:100px;
}
.profile_ban {
  border:2px solid #003E40;
  box-shadow:#003E40 5px 5px 3px;
  height:200px;
  margin:auto;
  width:900px;
}
.profile_ban img {
  height:200px;
  width:900px;
}
.profile_button_left {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #1A9DC5, #1F6E86);
  border:2px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#000000 0 1px 0;
  color:white;
  font-family:coolvetica_rg;
  font-size:24px;
  margin-top:-14px;
  text-shadow:black 2px 2px 5px;
}
.profile_button_right {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #1A9DC5, #1F6E86);
  border:2px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#000000 0 1px 0;
  color:white;
  font-family:coolvetica_rg;
  font-size:24px;
  margin-top:-14px;
  text-shadow:black 2px 2px 5px;
}
.profile_name {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #1A9DC5, #1F6E86);
  border:2px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#000000 0 1px 0;
  color:white;
  font-family:coolvetica_rg;
  font-size:28px;
  margin:-10px auto auto;
  text-shadow:black 2px 2px 5px;
}
.block_title_about {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #1A9DC5, #1F6E86);
  border:2px solid black;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#000000 0 1px 0;
  color:white;
  font-family:coolvetica_rg;
  font-size:24px;
  text-shadow:black 2px 2px 5px;
  width:200px;
}
.about_block {
  float:left;
  height:400px;
  width:200px;
}
.about_block img {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #1A9DC5, #1F6E86);
  border:8px solid #1A9DC5;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#003E40 5px 5px 3px;
  height:100px;
  text-shadow:black 2px 2px 5px;
}
.profile_block {
  float:right;
  height:400px;
  vertical-align:top;
  width:200px;
}
.article {
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  margin:auto;
  width:100%;
}
.article_content {
  background-color:white;
  border:2px solid black;
  box-shadow:#003E40 5px 5px 3px;
  font-size:16px;
  margin-top:-5px;
  vertical-align:top;
}
.article_content img {
  border:8px solid #1A9DC5;
  box-shadow:#003E40 3px 3px 2px;
  display:block;
  height:200px;
  margin:auto;
}
.article_content iframe {
  border:8px solid #1A9DC5;
  box-shadow:#003E40 3px 3px 2px;
  display:block;
  margin:auto;
}
.create_article {
  background-color:#1A9DC5;
  box-shadow:#003E40 5px 5px 3px;
  margin:auto;
  width:50%;
}
.title_create_article {
  color:white;
  font-family:coolvetica_rg;
  font-size:26px;
  vertical-align:top;
}
.title_create_article input[type="text"] {
  background-color:#A5D85F;
  border:0 none;
  font-family:coolvetica_rg;
  font-size:22px;
  vertical-align:top;
}
.title_create_article input[type="text"]:focus {
  border-color:#093C75;
  box-shadow:#1A9DC5 0 0 3px;
  outline:none medium;
}
select {
  background-color:#7FC6BC;
  border:0 none;
  box-shadow:#AAAAAA 0 0 3px;
  cursor:pointer;
  font-size:22px;
  padding:3px;
}
select:active, select:focus {
  border:5px solid #1A9DC5;
  outline:none medium;
  padding:0;
}
.create_article_errors {
  background-color:#50B326;
  bottom:75px;
  box-shadow:#003E40 5px 5px 3px;
  color:#FFFD55;
  font-family:coolvetica_rg;
  font-size:22px;
  position:fixed;
  right:0;
  width:300px;
}
.news_link {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #1A9DC5, #1F6E86);
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#000000 0 1px 0;
  color:white;
  font-family:coolvetica_rg;
  font-size:23px;
  text-shadow:black 2px 2px 5px;
  vertical-align:middle;
}
.news_link:hover {
  color:#F5FF63;
}
.news_link:active {
  border-top-color:#1B435E;
}
.depulse input[type="submit"], a.submit, .propulse input[type="submit"], a.submit, .debate input[type="submit"], a.submit, input[type="submit"] {
  -webkit-box-shadow:#000000 0 1px 0;
  background-color:#ABC8E2;
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#003E40 2px 2px 2px;
  color:black;
  cursor:pointer;
  font-family:coolvetica_rg;
  font-size:20px;
  margin-left:60%;
  padding:2px 0;
  text-decoration:none;
  vertical-align:middle;
}
.depulse input[type="submit"]:hover, a.submit:hover, .propulse input[type="submit"]:hover, a.submit:hover, .debate input[type="submit"]:hover, a.submit:hover, input[type="submit"]:hover {
  color:#FFFD55;
  text-decoration:none;
}
.depulse input[type="submit"]:active, input[type="submit"]:active, .propulse input[type="submit"]:active, .debate input[type="submit"]:active, .depulse input[type="submit"]:focus, .propulse input[type="submit"]:focus, .debate input[type="submit"]:focus, a.submit:active, a.submit:focus {
  background-attachment:scroll;
  background-color:green;
  background-image:none;
  background-position:0 0;
  background-repeat:repeat repeat;
  border-color:#093C75;
  outline:none medium;
}
.depulse {
  float:right;
  margin-top:-25px;
}
.propulse {
  float:right;
  margin-right:20px;
  margin-top:-25px;
}
.debate {
  float:right;
  margin-top:-5px;
}
.comment_post {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #BFE9F6, #94BECB);
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#000000 0 1px 0;
  font-size:25px;
  height:100%;
  position:relative;
  width:64%;
}
.delete {
  color:red;
  font-size:25px;
  font-style:normal;
  height:0;
  left:45%;
  position:relative;
  top:-15%;
  width:0;
  z-index:0;
}
.post_debate {
  height:20%;
  margin:auto;
  width:835px;
}
.propulse_debate {
  left:513px;
  position:relative;
  top:-43px;
  width:100px;
  z-index:0;
}
.humor {
  background-color:black;
  color:white;
  display:block;
  font-family:coolvetica_rg;
  font-size:18px;
  margin-top:-30px;
  position:relative;
  width:100%;
}
.tri {
  -webkit-box-shadow:#000000 0 1px 0;
  background-color:#183152;
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#003E40 3px 3px 2px;
  text-shadow:black 2px 2px 5px;
  width:300px;
}
.tri2 {
}
.shorti {
  color:white;
  float:left;
  font-family:coolvetica_rg;
  font-size:18px;
  margin:auto;
}
#volet {
  padding:0;
  top:150px;
  width:270px;
}
#volet a.ouvrir, #volet a.fermer {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #5BB64F, #34782A);
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#000000 0 1px 0;
  color:white;
  font-family:coolvetica_rg;
  font-size:20px;
  padding:10px 0;
  text-shadow:black 2px 2px 5px;
  top:150px;
}
#volet {
  -webkit-transition:all 0.5s ease-in;
  left:-310px;
  position:absolute;
  top:80px;
}
#volet a.ouvrir, #volet a.fermer {
  -webkit-transform:rotate(270deg);
  position:absolute;
  right:-75px;
  top:90px;
}
#volet a.fermer {
  display:none;
}
#volet:target {
  left:0;
}
#volet:target a.fermer {
  display:block;
}
#volet:target a.ouvrir {
  display:none;
}
#volet_clos:target #volet {
  left:-310px;
}
#volet_clos {
  left:0;
  position:fixed;
  top:0;
}
#area {
  display:none;
}
#cat {
  display:none;
}
.lol2 {
  float:right;
}
.no_news {
  color:white;
  font-family:coolvetica_rg;
  font-size:39px;
  width:100%;
}
#background {
  background-image:url(http://localhost/pulseNEWS/Developpement/design/img/background.png);
  background-position:5% 5%;
  background-repeat:repeat repeat;
  bottom:0;
  left:0;
  position:absolute;
  right:0;
  top:0;
  z-index:100;
}
#midground {
  background-image:url(http://localhost/pulseNEWS/Developpement/design/img/midground.png);
  background-position:20% 20%;
  background-repeat:repeat repeat;
  bottom:0;
  left:0;
  position:absolute;
  right:0;
  top:0;
  z-index:100;
}
#foreground {
  background-image:url(http://localhost/pulseNEWS/Developpement/design/img/foreground.png);
  background-position:90% 110%;
  background-repeat:repeat repeat;
  bottom:0;
  left:0;
  position:absolute;
  right:0;
  top:0;
  z-index:200;
}
#photos {
}
#photos img {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #1A9DC5, #1F6E86);
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#000000 0 1px 0;
  height:100px;
  text-shadow:black 2px 2px 5px;
}
.edit_profile {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #1A9DC5, #1F6E86);
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#000000 0 1px 0;
  text-shadow:black 2px 2px 5px;
}
.edit_profile input[type="text"] {
  background-color:#A5D85F;
  border:0 none;
  font-family:coolvetica_rg;
  font-size:22px;
  vertical-align:top;
}
.user_link a {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #1A9DC5, #1F6E86);
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#000000 0 1px 0;
  color:white;
  font-family:coolvetica_rg;
  font-size:22px;
  text-shadow:black 2px 2px 5px;
}
.user_link:hover {
  color:#F5FF63;
}
#footer {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #1A9DC5, #1F6E86);
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  bottom:0;
  box-shadow:#000000 0 1px 0;
  position:fixed;
  text-align:center;
  text-shadow:black 2px 2px 5px;
  width:100%;
}
#page-wrap {
  margin:50px auto;
  width:700px;
}
#page-wrap_newsfeed {
  height:768px;
  margin:50px auto;
  width:1024px;
}
.tabs {
  list-style:none;
  overflow:hidden;
  padding-left:1px;
}
.tabs li {
  display:inline;
}
.tabs li a {
  background-color:#EEEEEE;
  border:1px solid #CCCCCC;
  color:black;
  display:block;
  float:left;
  margin:0 0 0 -1px;
  padding:4px 8px;
}
.tabs li a.current {
  background-color:white;
  border-bottom-width:0;
  position:relative;
  top:2px;
  z-index:2;
}
.box-wrapper {
  -webkit-box-shadow:black 0 0 20px;
  background-color:white;
  border:1px solid #CCCCCC;
  height:210px;
  margin:-1px 0 0;
  padding:20px;
  position:relative;
}
.content-box {
  height:230px;
  left:20px;
  overflow:hidden;
  position:absolute;
  top:20px;
  width:658px;
}
.current {
  z-index:100;
}
.col-one, .col-two, .col-three {
  float:left;
  position:relative;
  top:350px;
  width:30%;
}
.col-one, .col-two {
  margin-right:3%;
}
.hide {
  left:-9999px;
  position:absolute;
  top:-9999px;
}
#example-two .list-wrap {
  background-color:#EEEEEE;
  margin:0 0 15px;
  padding:10px;
}
#example-two ul {
  list-style:none;
}
#example-two ul li a {
  border-bottom-color:#666666;
  border-bottom-style:solid;
  border-bottom-width:1px;
  color:#666666;
  display:block;
  padding:4px;
}
#example-two ul li a:hover {
  background-color:#1A9DC5;
  color:white;
}
#example-two ul li:last-child a {
  border:none;
}
#example-two .nav {
  overflow:hidden;
}
#example-two .nav li {
  float:left;
  margin:0 10px 0 0;
  width:97px;
}
#example-two .nav li.last {
  margin-right:0;
}
#example-two .nav li a {
  background-color:#666666;
  border:0;
  color:white;
  display:block;
  font-size:16px;
  padding:5px;
  text-align:center;
}
#example-two li a.current, #example-two li a.current:hover {
  background-color:#EEEEEE !important;
  color:black;
}
#example-two .nav li a:hover, #example-two .nav li a:focus {
  background-color:#999999;
}
.notif {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #1F6E86, #1A9DC5);
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#003E40 3px 3px 2px;
  margin:auto;
  padding:4px 8px;
  width:30%;
}
.search_pulseur {
  background-color:#1F6E86;
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#000000 0 1px 0;
  height:75px;
  margin:auto;
  text-shadow:rgba(0, 0, 0, 0.398438) 0 1px 0;
  width:334px;
}
#search_button {
  margin-left:227px;
  margin-top:-41px;
  width:0;
}
.search_news {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #34782A, #5BB64F);
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#003E40 3px 3px 2px;
  width:300px;
}
#pardessus {
  width:96%;
}
#no_result {
  color:red;
  font-size:20px;
  margin-left:764px;
  margin-top:24px;
  width:500px;
}
#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:800px;
}
.accordionbutton {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #1A9DC5, #1F6E86);
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#000000 0 1px 0;
  color:white;
  cursor:pointer;
  float:left;
  font-family:coolvetica_rg;
  font-size:20px;
  text-shadow:black 2px 2px 5px;
  width:800px;
}
.accordioncontent {
  background-color:#95B1CE;
  float:left;
  width:800px;
}
.on {
  background-color:#41BFE6;
}
.over {
  background-color:#41BFE6;
}
#box {
  -webkit-box-shadow:#000000 0 1px 0;
  background-image:-webkit-linear-gradient(top, #1A9DC5, #1F6E86);
  border:1px solid #003E40;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:#000000 0 1px 0;
  color:red;
  font-family:coolvetica_rg;
  font-size:20px;
  height:30px;
  margin-top:80px;
  padding-top:30px;
  text-align:center;
  text-shadow:black 2px 2px 5px;
  width:400px;
}
#box p {
  background-image:url(http://localhost/pulseNEWS/Developpement/design/img/warning.png);
  background-position:10px 50%;
  background-repeat:no-repeat no-repeat;
  font-size:25px;
  padding-left:90px;
  text-align:center;
}
#box p b {
  display:block;
  font-size:52px;
  text-align:center;
}
#rehan {
  width:1105px;
}
.cat_color {
  color:red;
  font-size:22px;
}
