/* Par Michel GILLE le 11/04/12 */
@font-face 
{
	font-family: 'coolvetica_rg';
	src: url('fonts/coolvetica_rg.ttf') format('truetype');
}
body
{
	background-color: white;
	font-family: 'Calibri';
}
a
{
	text-decoration: none;
	color: none;
}
.header
{
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #85c630;
	width: 100%;
	box-shadow: 5px 5px 15px #333333; 
}
.header_info
{
	font-size: 12px;
	color: white;
	height: 75px;
	width: 600px;
	text-align: right;
}
.header_menu
{
	font-size: 26px;
	font-family: 'coolvetica_rg';
}
.header_menu a
{
	color: white;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}
.header_menu a:hover
{
	text-shadow: 1px 0px 10px black;
}

.news_sort
{
	position: fixed;
	top: 75px;
	right: 0px;
	background-color: #85c630;
	color: white;
	font-size: 18px;
	font-family: 'coolvetica_rg';
	text-align: center;
	width: 600px;
	height: 30px;
	box-shadow: 5px 5px 15px #333333; 
}
.post_news
{
	height: 50%;
	width: 85%;
	margin: auto;
}
.title_post
{
	background-color: #85c630;
	width: 100%;
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 22px;
}
.rate
{
	background-color: #85c630;
	width: 60px;
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 22px;
}
.description
{
	border-color:#85c630;
	border-width:6;
	border-style:solid;
	background-color: white;
	font-size: 14px;
	box-shadow: 5px 5px 15px #333333; 
}
.date_news
{
	background-color: #85c630;
	color: white;
	font-size: 10px;
	height: 100%; 
}
.rss_block
{
	width: 100%;
	height: 100%;
	vertical-align: top; 

}
.block_title
{
	background-color: #85c630;
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 24px;
	width: 120px;
	-moz-box-shadow:0 0 15px black;
	-webkit-box-shadow:0 0 15px black; 
}
.block_content
{
	font-size: 14px;
	border-color:#85c630;
	border-width:6;
	border-style:solid;
	background-color: white;
	box-shadow: 5px 5px 15px #333333; 
}
.pulse_button
{
	float: right;
	color: white;
	background-color: #85c630;
	font-family: 'coolvetica_rg';
	width: 35px;
	font-size: 14px; 
}
.block_title_right
{
	background-color: #85c630;
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 24px;
	text-align: right;
}
.block_content_right
{
	font-size: 14px;
	border-color:#85c630;
	border-width:6;
	border-style:solid;
	background-color: white;
	box-shadow: 5px 5px 15px #333333; 
}
.pulse_button_right
{
	float: right;
	color: white;
	background-color: #85c630;
	font-family: 'coolvetica_rg';
	width: 35px;
	font-size: 14px;
}
.rate_button
{
	float: right;
	color: white;
	font-family: 'coolvetica_rg';
	background-color: #85c630;
	text-align: center;
	width: 100px;
	margin-top: -5px;
	font-size: 18px;
	box-shadow: 5px 5px 15px #333333; 
}
.rate_button:hover
{
	color:#fffd55;
	margin-top: -6px;
}
.comment_button
{
	float: right;
	color: white;
	font-family: 'coolvetica_rg';
	background-color: #85c630;
	text-align: center;
	width: 100px;
	margin-top: -5px;
	font-size: 16px;
	box-shadow: 5px 5px 15px #333333; 
}
.comment_button:hover
{
	color:#fffd55;
	margin-top: -6px;
}


/* Par Michel GILLE le 12/04/12 */

.deco
{
	background-color:  #85c630;
	float: right;
	width: 100px;
	margin-right: 10px;
	height: 10px;
}
.profile_ban
{
	margin: auto;
	border-color:#85c630;
	border-width: 12px;
	border-style:solid;
	width: 920px;
}
.profile_button_left
{
	background-color: #85c630;
	
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 24px;
	margin-top: -14px;
}
.profile_button_right
{
	background-color: #85c630;
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 24px;
	margin-top: -14px;
}
.profile_name
{
	margin: auto;
	background-color: #85c630;
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 28px;
	margin-top: -10px;
}
	

.block_title_about
{
	background-color: #85c630;
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 24px;
	width: 200px;
	box-shadow: 5px 5px 15px #333333; 
}
.about_block
{
	float: left;
	width: 200px;
	height: 400px;
	vertical-align: top; 
}
.profile_block
{
	float: right;
	width: 200px;
	height: 400px;
	vertical-align: top; 
}



.article
{
	border-radius: 5px 5px 5px 5px;
	width: 100%;
	margin: auto;
}

.article_content
{
	border-color:#85c630;
	border-width:10;
	border-style:solid;
	background-color: white;
	font-size: 16px;
	height: 400px;
}
