#word1 {
    left: -7%;
    position: relative;
    top: 4%;
}
#word2 {
    display: inline;
    left: -10%;
    position: relative;
    top: 17%;
}
#word3 {
    display: inline;
    left: 0;
    position: relative;
    top: 21%;
}
#word4 {
    display: inline;
    left: 15%;
    position: relative;
    top: 33%;
}
#word5 {
    display: inline;
    left: -55%;
    position: relative;
    top: 44%;
}
#word6 {
    display: inline;
    left: -24%;
    position: relative;
    top: 53%;
}
#word7 {
    display: inline;
    left: -23%;
    position: relative;
    top: 55%;
}
#lol {
    display: inline;
    font-size: 42px;
    left: 10%;
    padding: 7px;
    position: relative;
    top: 50%;
}