/* Par Michel GILLE le 11/04/12 */
@font-face 
{
	font-family: 'coolvetica_rg';
	src: url('fonts/coolvetica_rg.ttf') format('truetype');
}
body
{
	background-color: white;
	font-family: 'Arial';
}
a
{
	text-decoration: none;
	color: none;
}
.header
{
	background-color: #58b54c;
	width: 100%;
}
.header_info
{
	font-size: 12px;
	color: white;
	height: 100px;
	width: 600px;
	text-align: right;
}
.header_menu
{
	font-size: 26px;
	font-family: 'coolvetica_rg';
}
.news_sort
{
	float: right;
	background-color: #58b54c;
	color: white;
	font-size: 18px;
	font-family: 'coolvetica_rg';
	text-align: center;
	width: 600px;
	height: 30px;
}
.post_news
{
	border-radius: 5px 5px 5px 5px;
	width: 50%;
	margin: auto;
}
.title_post
{
	background-color: #58b54c;
	width: 100%;
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 28px;
}
.rate
{
	background-color: #58b54c;
	width: 60px;
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 28px;
}
.description
{
	border-color:#58b54c;
	border-width:6;
	border-style:solid;
	background-color: white;
	font-size: 12px;
}
.date_news
{
	margin-top: -36px;
	background-color: #58b54c;
	color: white;
	font-size: 10px;
	height: 100%;
}
.rss_block
{
	width: 20%;
}
.block_title
{
	background-color: #58b54c;
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 24px;
}
.rate_button
{
	float: right;
	color: white;
	font-family: 'coolvetica_rg';
	background-color: #58b54c;
	text-align: center;
	width: 100px;
	margin-top: -5px;
	font-size: 18px;
}
.comment_button
{
	float: right;
	color: white;
	font-family: 'coolvetica_rg';
	background-color: #58b54c;
	text-align: center;
	width: 100px;
	margin-top: -5px;
	font-size: 16px;
}