/* Par Brice HOFFMANNle 12/04/12 */

.deco
{
	background-color:  #85c630;
	float: right;
	width: 100px;
	margin-right: 10px;
	height: 10px;
}
.profile_ban
{
	margin: auto;
	border-color:#85c630;
	border-width: 12px;
	border-style:solid;
	width: 920px;
}
.profile_button_left
{
	background-color: #85c630;
	
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 24px;
	margin-top: -14px;
}
.profile_button_right
{
	background-color: #85c630;
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 24px;
	margin-top: -14px;
}
.profile_name
{
	margin: auto;
	background-color: #85c630;
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 28px;
	margin-top: -10px;
}
	
.title_about
{
	background-color: #85c630;
	border-radius: 5px 5px 0px 0px;
	color: white;
	font-family:'coolvetica_rg';
	font-size:24px;
	width: 200px;
}
.block_title_about
{
	background-color: #85c630;
	color: white;
	font-family: 'coolvetica_rg';
	font-size: 24px;
	width: 200px;
}
.about_block
{
	float: left;
	width: 200px;
	height: 400px;
}
.profile_block
{
	float: right;
	width: 200px;
	height: 400px;
}



.article
{
	border-radius: 5px 5px 5px 5px;
	width: 100%;
	margin: auto;
}

.article_content
{
	border-color:#85c630;
	border-width:10;
	border-style:solid;
	background-color: white;
	font-size: 16px;
	height: 400px;
}
